<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_common">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
</header>

<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_common_bootstrap">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrapp/css/bootstrap.css}">
</header>

